<% if @shipping_group %>
  $("#shipping_group_<%= @shipping_group.id %>").remove();
<% else %>
  $('#alert').append("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button></div>")
<% end %>
